<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.source.js"></script>
</head>
<body>
	<div class="top">
		<img src="images/logo.png">
	</div>
	<div class="banner">
		<div class="nav">
			<ul class="navList">
				<li><a href="">公司首页</a></li>
				<li><a href="">公司简介</a></li>
				<li><a href="">产品展示</a></li>
				<li><a href="">馅料品种</a></li>
				<li><a href="">人才招聘</a></li>
				<li><a href="">企业形象</a></li>
				<li><a href="">公司资讯</a></li>
				<li><a href="">客户留言</a></li>
				<li><a href="">联系我们</a></li>
			</ul>
		</div>
		<div id="slideBox" class="slideBox">
			<div class="hd">
				<ul><li></li><li></li><li></li></ul>
			</div>
			<div class="bd">
				<ul>
					<li>
						<a href="" target="_blank">
							<img src="images/banner.jpg" />
						</a>
					</li>
					<li>
						<a href="" target="_blank">
							<img src="images/pic2.jpg" />
						</a>
					</li>
					<li>
						<a href="" target="_blank">
							<img src="images/pic3.jpg" />
						</a>
					</li>
				</ul>
			</div>
		</div>

		<script type="text/javascript">
		jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
		</script>
	</div>
	<div class="main">
		<div class="mainLeft">
			<div class="leftTitle">视频专区<a href="">more</a></div>
			<div class="video">
				<img src="images/video.jpg">
			</div>
			<div class="leftTitle">商品目录</div>
			<div class="sideMenu">
				<div class="on"><em></em>月饼系列</div>
				<ul>
					<li><a href="">淘宝首页右侧公告</a></li>
					<li><a href="">淘宝首页右侧公告</a></li>
					<li><a href="">淘宝首页右侧公告</a></li>
					<li><a href="">淘宝首页右侧公告</a></li>
					<li><a href="">淘宝首页右侧公告</a></li>
				</ul>
				<div><em></em>月饼系列</div>
				<ul>
					<li><a href="">淘宝首页右侧公告</a></li>
					<li><a href="">淘宝首页右侧公告</a></li>
					<li><a href="">淘宝首页右侧公告</a></li>
					<li><a href="">淘宝首页右侧公告</a></li>
					<li><a href="">淘宝首页右侧公告</a></li>
				</ul>
				<div><em></em>月饼系列</div>
				<ul>
					<li><a href="">淘宝首页右侧公告</a></li>
					<li><a href="">淘宝首页右侧公告</a></li>
					<li><a href="">淘宝首页右侧公告</a></li>
					<li><a href="">淘宝首页右侧公告</a></li>
					<li><a href="">淘宝首页右侧公告</a></li>
				</ul>
			</div><!-- sideMenu End -->

			<script type="text/javascript">
				jQuery(".sideMenu").slide({
					titCell:"div", //鼠标触发对象
					targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
					effect:"slideDown", //targetCell下拉效果
					delayTime:300 , //效果时间
					triggerTime:150, //鼠标延迟触发时间（默认150）
					defaultPlay:true,//默认是否执行效果（默认true）
					trigger:"click",
					returnDefault:false //鼠标从.sideMen移走后返回默认状态（默认false）
					});
			</script>
			<div class="leftTitle">联系我们</div>
			<div class="indexContact">
				地 址：杭州莫山路2168号<br>
				电 话：0573-98765432<br>
				联系人：杨军(经理)<br>
				手 机：15887654321<br>
				网 址：www.aaaa.com<br>
				邮 箱：bos@mail.com<br>
				邮 编：300009
			</div>
		</div>
		<div class="mainRight">
			<div class="imgs">
				<img src="images/probg.jpg">
				<a href="" class="more"></a>
			</div>
			<ul class="indexPorList">
				<li>
					<a href=""><img src="images/p1.jpg"></a>
					<a href="" class="pTitle">鼎盛中华</a>
				</li>
				<li><a href=""><img src="images/p2.jpg"></a></li>
				<li><a href=""><img src="images/p3.jpg"></a></li>
				<li><a href=""><img src="images/p4.jpg"></a></li>
				<li><a href=""><img src="images/p5.jpg"></a></li>
			</ul>
			<div class="aboutNews">
				<div class="indexAbout">
					<div class="imgs">
						<img src="images/aboutbg.jpg">
						<a href="" class="more"></a>
					</div>
					<p class="aboutP">
						 杭州某某茶叶经销有限公司一直秉承先祖的创业精神，谨遵祖训“地道茶，实在人，良心价”的经营理念，不断发展。拥有资深制茶师30多人，拥有自然生态茶园460多亩；并已通过“QS食品质量安全生产认证”。公司还以“基地＋专业合作社＋农户”的经营模式，在福建、江苏、云南、四川、贵州、浙江等地，联营生态茶园4000多亩，并逐步按照统一的管理标准进行科学培育和生产管理......<a href="">[查看全部]</a>
					</p>
				</div>
				<div class="indexNews">
					<div class="imgs">
						<img src="images/newbg.jpg">
						<a href="" class="more"></a>
					</div>
					<ul class="indexNewsList">
						<li>
							<a href="">我国茶叶产业产销两旺 已进入快速发</a>
							<span>2010-10-25</span>
						</li>
						<li>
							<a href="">我国茶叶产业产销两旺 已进入快速发</a>
							<span>2010-10-25</span>
						</li>
						<li>
							<a href="">我国茶叶产业产销两旺 已进入快速发</a>
							<span>2010-10-25</span>
						</li>
						<li>
							<a href="">我国茶叶产业产销两旺 已进入快速发</a>
							<span>2010-10-25</span>
						</li>
						<li>
							<a href="">我国茶叶产业产销两旺 已进入快速发</a>
							<span>2010-10-25</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="variety">
				<div class="imgs">
					<img src="images/varbg.jpg">
					<a href="" class="more" style="width: 217px;"></a>
				</div>
				<ul class="varietyList">
					<li>
						<div class="varImg">
							<img src="images/baip.jpg">
						</div>
						<div class="varInfo">
							<a class="varTitle" href="">{纯正白莲蓉}</a>
							<p class="varP">配料：莲子、白砂糖、花生油产品说明：组织细腻、油润、光滑、色泽……</p>
						</div>
					</li>
					<li>
						<div class="varImg">
							<img src="images/baip.jpg">
						</div>
						<div class="varInfo">
							<a class="varTitle">{纯正白莲蓉}</a>
							<p class="varP">配料：莲子、白砂糖、花生油产品说明：组织细腻、油润、光滑、色泽……</p>
						</div>
					</li>
					<li>
						<div class="varImg">
							<img src="images/baip.jpg">
						</div>
						<div class="varInfo">
							<a class="varTitle">{纯正白莲蓉}</a>
							<p class="varP">配料：莲子、白砂糖、花生油产品说明：组织细腻、油润、光滑、色泽……</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<p>广州市穗龙食品有限公司 版权所有@Copyright </p>
		<p>顾客服务中心：020-88888888/66666666 传真：020-88888888 联系人：XXX</p>
	</div>
	<div class="leftWeichat">
		<div class="weichatImg"><img src="images/weichat.jpg"></div>
		<div class="wbg" onclick="suspension(this)" name='1'><img src="images/ll.png"></div>
	</div>
	<div class="online">
		<div class="wbg" onclick="suspension(this)" name='1'><img src="images/lr.png"></div>
		<div class="weichatImg online2">
			<span class="wTitle">在线咨询</span>
			<span class="wei">在线咨询</span>
			<a href="" class="zixun first"><img src="images/qq.png">在线咨询1</a>
			<a href="" class="zixun"><img src="images/qq.png">在线咨询1</a>
			<a href="" class="zixun"><img src="images/qq.png">在线咨询1</a>
			<a href="" class="zixun"><img src="images/qq.png">在线咨询1</a>
			<a href="" class="zixun"><img src="images/qq.png">在线咨询1</a>
		</div>
	</div>
</body>
<script type="text/javascript" src="js/common.js"></script>
</html>