<style type="text/css">
.insidelanmu li.on{
	color: #00873b;
}
</style>
<div class="sidebar-con-left">

      <div class="sidebar-con-tit">
      	{th:type typeid="$typeid" type="top"}
        <div class="sidebar-con-box"><font class="this">[field:typename]</font><span class="this">[field:subtitle]&nbsp;</span></div>
        {th:/type}
      </div>
      <div class="sidebar-con-left-nav">
        <ul class="insidelanmu">
					{th:foreach $inside as $v}
          <li>
            <div {th:if !empty($v.child)}class='s_hs'{th:/if} ><strong class="">&nbsp;</strong><a href="{th:if !empty($v.child)}javascript:;{th:else}{th:getlisturl id="{th:$v.id}"}{th:/if}"title="{th:$v.typename}">{th:$v.typename}</a></div>
						{th:if !empty($v.child)}
            <ul class="lanmuchild">
							{th:foreach $v.child as $item}
              <li class="child_{th:$item.id} {th:if $item.id==$typeid}aa{th:/if}"><a href="{th:getlisturl id="{th:$item.id}"}" title="{th:$item.typename}"><span>{th:$item.typename}</span></a></li>
							{th:/foreach}
            </ul>
						{th:/if}
          </li>
					{th:/foreach}
          
        </ul>
        <div class="clear"></div>  
      </div>


      <div class="sidebar-con-tit">
        <div class="sidebar-con-box"><font class="this">联系方式</font><span class="this">CONTACT&nbsp;</span></div>
      </div>
      <div class="sidebar-con-left-con"><div>
	<span style="line-height: 2;">地址：英协广场1号楼25C</span></div>
<div>
	电话：0731-3338888</div>
<div>
	联系人：冯先生 18733338888</div>
<div>
	邮箱：service369@aliyun.com</div>
</div>
    </div>





<script type="text/javascript">
$(function(){
	var zhaolist = $('.insidelanmu').children('li').children('.s_hs');
	zhaolist.toggle(function() {
		if ($(this).parent('li').hasClass('on')) {
			$(this).parent('li').removeClass('on');
			$(this).children('strong').removeClass('on');
			$(this).next('ul').hide();
		}else{
			$(this).parent('li').addClass('on');
			$(this).children('strong').addClass('on');
			$(this).next('ul').show();
		}
		
	}, function() {
		if (!$(this).parent('li').hasClass('on')) {
			$(this).parent('li').addClass('on');
			$(this).children('strong').addClass('on');
			$(this).next('ul').show();
		}else{
			$(this).parent('li').removeClass('on');
			$(this).children('strong').removeClass('on');
			$(this).next('ul').hide();
		}
		
	});
	var childs = $('.lanmuchild').children('li');
	for(i=0;i<childs.length;i++){
		if(childs.eq(i).hasClass('aa')){
			childs.eq(i).parent('ul').show();
			childs.eq(i).parent('ul').parent('li').addClass('on');
			childs.eq(i).parent('ul').prev('div').children('strong').addClass('on');
			childs.eq(i).addClass('on');
		}
	}
})
</script>